

/* Reset */
* { margin:0; padding:0; font-size: 100%; line-height:1;}
html,body{width:100%;height:100%;}
li{list-style:none;}
a{text-decoration:none;
    color:black;
}
img{vertical-align:bottom;}
img,fieldset,iframe{border:0 none;}
input,select,button{vertical-align:middle;}
i,em,address{font-style:normal;}
label,button{cursor:pointer;}



/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section { display: block;}



/* Common */
.clearfix::after {
	content:'';
	display: block;
	clear: both;
	visibility:hidden;
	height:0;
}
.wrapper {
	width:960px;
	margin:0 auto;
	position:relative;
}

h2{
    color:#273401;
    font-family: 'Signika', sans-serif;
    font-weight:100;
    text-align:center;
    font-size:31px;
    margin:30px 0;
    background-image:url('../images/underborder-img.png');
    background-repeat:no-repeat;
    background-position:bottom center;
    height:50px;
    line-height:50px;
   }




/*시작!!*/





header #login{
	float:right;
    font-family:'나눔고딕';
    font-size:11px;
}
header #login #login-menu>li{
	float:left;
    background-image:url(../images/selo-line.png);
    background-repeat:no-repeat;
    background-position:center right;
    box-sizing:border-box;
}
header #login #login-menu>li>a{
	padding:0 15px;
	height:25px;
	line-height:25px;
	display:block;
}
header #login #login-menu>li:nth-child(4){
    background:none;
    padding-right:0;
}
header #login #login-menu>li:last-child{
    background:none;
}
header #login #login-menu>li:last-child p{
	text-indent:-9999px;
    height:0;
}

header #login #login-menu>li:last-child a{
    width:20px;
    padding-left:5px;
    line-height:20px;
}
header #login #login-menu>li:nth-child(4)>a{
    padding-right:0;
}



/* bx슬라이더 수정*/

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	bottom: 0px;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: center;
	width: 100%
}

.bx-wrapper .bx-viewport {
	border: none 0;
	box-shadow: none;
	left:0
}
.bx-wrapper .bx-pager.bx-default-pager a {
    margin-top:-50px;
   background: rgba(177, 177, 177, 0.73); 
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
   background: rgba(113, 113, 113, 0.73); 
}
#contents01 .bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
    margin:0 -50px;
}




/**/

/* 헤더메뉴 */

header h1{
    display:inline-block;
    text-align:center;
    position:absolute;
    top:65px;
    right:443px;
}
/*
header #menu h1 p{
	text-indent:-9999px;
    height:0;
}
*/


header #menu{
	text-align:center;
    font-size:18px;
    font-family: 'Mandali', sans-serif;
    font-weight:bold;
}
header #menu  #menulist{
	display:inline-block;
}
header #menu #menulist>li{
	margin-top:50px;
	float:left;
}

header #menu #menulist>li>a{
	display:block;
	width:100px;
	height:80px;
	line-height:80px;
    padding:0 22.5px;
}
header #menu #menulist>li:nth-child(4)>a{
    margin-left:90px;
}

/* 세부 메뉴 리스트 */

header #gnb-wrapper #menu #menu-wrap{
    width:960px;
    height:380px;
    position:absolute;
    background-color:rgba(255,255,255,0.96);
    z-index:1;
    font-size:12px;
}
 header #gnb-wrapper #menu #menu-wrap>ul{
    float:left;
    padding-top:50px;
}

header #gnb-wrapper #menu #menu-wrap>ul:nth-child(4){
    margin-left:90px;
}
#menu-wrap{
    display:none;
}
header #gnb-wrapper #menu #menu-wrap>ul>li>a{
    display:block;
    width:120px;
    height:40px;
    line-height:40px;
    padding:0 12.5px;
    font-weight:400;
    font-family:'나눔고딕';
    letter-spacing:2px;
    transition:all 0.5s;
}
/*header #gnb-wrapper #menu #menu-wrap>ul:hover li:first-child{
    border-top:5px solid rgba(142,177,115,1);
}
*/
header #gnb-wrapper #menu #menu-wrap>ul:hover{
     background-color:rgba(142,177,115,0.1)
}
header #gnb-wrapper #menu #menu-wrap>ul>li>a:hover{
    background-color:rgba(142,177,115,0.3)
    
    
}


/* 시작!! */


#contents01 #weeklybest{
    padding-top:30px;
	text-align:center;
    margin-bottom:100px;
    margin-top:100px;
}
#contents01 #weeklybest span{
	text-align:center;
}
#contents01 #weeklybest li {
   float:left;
    /*display:inline-block;
   margin-left:80px;*/
}
#contents01 #weeklybest  li  a {
    display:block;
    text-align:center;
    font-size:13px;
    font-family:'굴림';
    width:180px;
    height:250px;
}
#contents01 #weeklybest  li  img{
    padding-bottom:10px;
}
/*#contents01 #weeklybest li:first-child{
    margin-left:0;
}

/**/



/**/


.contents02 {
    height:900px;
    text-align:center;
   /* margin-bottom:200px;*/
}
#contents02wrap{
    width:1200px;
}

.contents02 .contents-left{
    width:480px;
    height:720px;
    float:left;
    box-sizing:border-box;
}
.contents02 .contents-right{
    width:480px;
    height:720px;
    float:right;
    box-sizing:border-box;
}
.contents02 .contents-right li{
    width:240px;
    height:240px;
    float:right;
    box-sizing:border-box;
}

.contents02 .contents-right .contents02-text{
    background:url('../images/mini-underbar.png');
    background-repeat:no-repeat;
    background-position:111px 100px;
}
.contents02 .contents-right .contents02-text h3{
    padding-top:70px;
}
.contents02 .contents-right .contents02-text p{
    padding-top:30px;
    font-size:14px;
    font-family:'나눔고딕';
    line-height:20px;
}


/*
#contents02wrap{
    visibility:hidden;
    height:800px;
}
*/




#contents03 #content03wrap div{
    float:left;
    width:480px;
    height:300px;
   
}
#contents03 #content03wrap .contents03-left .content03-img{
    width:472px;
    height: 167px; 
    overflow: hidden;
}
#contents03 #content03wrap .contents03-left .content03-img img{
    transition:all 1s;
}
#contents03 #content03wrap .contents03-left .content03-img:hover img{
	transform:scale(1.1);
}
#contents03 #content03wrap .contents03-right .content03-img{
    width:486px;
    height: 167px; 
    overflow: hidden;
}
#contents03 #content03wrap .contents03-right .content03-img img{
    transition:all 1s;
}
#contents03 #content03wrap .contents03-right .content03-img:hover img{
	transform:scale(1.05);
}

#icon-list{
    margin-top:50px;
    margin-bottom:130px;
    height:230px;
    width:820px;
}

#icon-list>ul>li{
	float:left;
	width:201px;
	height:201px;
    margin-left:108.5px;
    }
#icon-list>ul>li>a{
    height:250px;
	line-height:460px;
    text-align:center;
    display:block;
}
#icon-list #icon-list01{
	background-image:url(../images/icon01.gif);
    background-repeat:no-repeat;
	background-position:center;
    transition:all 1s;
    margin-left:0;
}

#icon-list #icon-list01:hover{
	background-image:url(../images/icon01-hover.gif);
    background-repeat:no-repeat;
	background-position:center;
}
#icon-list #icon-list02{
	background-image:url(../images/icon02.gif);
    background-repeat:no-repeat;
	background-position:center;
	transition:all 1s;
}

#icon-list #icon-list02:hover{
	background-image:url(../images/icon02-hover.gif);
	background-repeat:no-repeat;
	background-position:center;
	z-index:0;
}
#icon-list #icon-list03{
	background-image:url(../images/icon03.gif);
    background-repeat:no-repeat;
	background-position:center;
    transition:all 1s;
    margin-right:0;
}
#icon-list #icon-list03:hover{
	background-image:url(../images/icon03-hover.gif);
	background-repeat:no-repeat;
	background-position:center;
}


footer{
    font-family:'나눔고딕';
    height:570px;
}
footer #footer-img{
    width:100%;
    height:305px;
    background:url(../images/footer-img.jpg);
    background-repeat:no-repeat;
    background-position:center;
    text-align:center;
    color:#fff;
    font-family:'나눔고딕';
    margin-bottom:30px;
    background-attachment: fixed;
}
footer #footer-img h3{
    padding-top:65px;
    padding-bottom:40px;
    font-size:36px;
    font-weight:400;
}
footer #footer-img address{
    font-size:15px;
    line-height:30px;
}
footer #footer-img address>strong{
    font-size:53px;
    font-family:'ABeeZee', sans-serif;
    line-height:2;
}


footer #footer-footer{
    width:850px;
    height:50px;
}
footer #footer-footer li{
    float:left;
    
}
footer #footer-footer li a{
    display:block;
    padding:0 20px;
    font-size:13.5px;
    background-image:url(../images/selo-line.png);
    background-repeat:no-repeat;
    background-position:center right;
}
footer #footer-footer li:first-child a{
    padding-left:8px;
}
footer #footer-footer li:last-child a{
    background:none;
}
footer #family{
    margin-top:30px;
    position:relative;
}
footer #family>a{
    position:absolute;
    top:0;
    left:0;
}
footer #family>P{
    width:600px;
    font-size:11.5px;
    text-align:left;
    position:absolute;
    left:165px;
    line-height:20px;
}

footer #family #familysite-link{
    position:absolute;
    left:740px;
}
select {
    width: 100px; /* 원하는 너비설정 */
    /*height:10px; */
    padding:.1em .1em .1em .5em ; /* 여백으로 높이 설정*/
    font-family:'나눔고딕';  /* 폰트 상속 */
    border: 1px solid #999; 
    border-radius: 15px; /* iOS 둥근모서리 제거 */
    appearance: none; /* 네이티브 외형 감추기 */
    font-size:13px;
    text-align:center;
}


/* 셀렉트박스모양변경css
select {
  width: 200px; 원하는 너비설정
  padding: .8em .5em; 여백으로 높이 설정
  font-family: inherit;  폰트 상속 
  background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* 네이티브 화살표 대체   
  border: 1px solid #999; 
  border-radius: 0px; /* iOS 둥근모서리 제거
  -webkit-appearance: none; /* 네이티브 외형 감추기
  -moz-appearance: none;
  appearance: none;
}
*/








































