@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700;900&display=swap');

/* reset */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;box-sizing:border-box;line-height:1;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
li {list-style:none;}
blockquote, q {quotes: none;}
table {border-collapse: collapse;border-spacing: 0;}
a {text-decoration:none;color:inherit;}

html, body {font-family: 'Noto Sans KR', sans-serif;letter-spacing:-.5px;color:#222;}

input, select, button, textarea {box-sizing:border-box;font-family:NanumBarunGothic;}
input[type="text"],input[type="number"],
select {height:68px;padding:20px 25px;border:0;vertical-align:middle;}
.compulsory input {background-image: url('../resources/images2/promotion/long_rental_counse_icon02.png');background-size: 17px 14px;}
.disable input, input[type=text].readonly,
input:disabled {
  background: #ddd !important;
  color: #333;
}
select {position:relative;-webkit-appearance: none;-moz-appearance: none;appearance:none;background:url('../images2/promotion/lrc_icon_arrow.png') no-repeat calc(100% - 20px) center #fff;background-size:15px 10px;}
/* IE 10, 11*/select::-ms-expand {display:none;}
button{background:inherit;border:none; box-shadow:none; border-radius:0;cursor:pointer} 


/* reset */




/* COMMON */
.hidden {visibility:hidden;opacity:0;font-size:0;}
.cl-opint {color: #f68121!important;}
/* COMMON */

img {max-width:100%;}

.inner_wrap {max-width:1200px;margin:0 auto;}
.flex {display:flex;}
.flex100 {width:100% !important;}
.btn {display: block;font-size: 14px;text-align: center;}
.pc_v {display:block;}
.mobile_v {display:none;}

/*animate*/
.any {opacity: 0;transition: all .5s ease;}
.any_up {transform: translate(0, 100px);transition-delay:.5s;}
.delay03 {transition-delay:.3s;}
.delay10 {transition-delay:1s;}
.delay15 {transition-delay:1.5s;}
.any.show {opacity: 1;transform: none;}
/*animate*/

.wrap {min-width:1200px;}

.main_wrap {position:relative;height:818px;background:url('https://image.speedmate.com/speedimg/rentcar/real/newevent/220614/main_visual.png?v3');background-position:center center;background-repeat:no-repeat;background-size:cover;}


@media screen and (min-width: 1921px){
  .main_wrap {background-position: center calc(80%);}
}
.main_wrap .header {position:absolute;left:0;right:0;top:25px;margin:0 auto;height:100%;}
.main_wrap .header h1 {font-family:NanumBarunGothic;color:#fff;color:#fff;letter-spacing:1px;}
.main_wrap .header span {vertical-align:super;}
.main_wrap .header span:before {content:"";display:inline-block;width:2px;height:18px;background:#fff;margin:0 20px 0 15px;vertical-align:bottom;}
.main_wrap .main_title {position:absolute;top:235px;left:0;right:0;}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main_wrap .header {padding-top:25px;position:relative;}
  .main_wrap .main_title {width:1200px;}
  .main_wrap .header span {display:inline-block;vertical-align:middle;}
}

/* tab_wrap */
.tab_wrap {position:relative;transform:translateY(-50%);}
.tab_wrap .inner_wrap {display:flex;justify-content:center;align-items:center;height:113px;box-shadow:0px 6px 20px -4px #00000041;}
.tab_wrap .inner_wrap a {display:block;width:33.333%;text-align:center;line-height:1.5;font-size:24px;padding:22px 0;letter-spacing:-.2px;}
.tab_wrap .inner_wrap a {background:#1562ff;color:#fff;height:100%;}
.tab_wrap .inner_wrap a.on {background:#fff;color:#1562ff;}
.tab_wrap .inner_wrap a strong {display:block;font-weight:600;}
.tab_wrap .inner_wrap a:first-child {box-shadow:-5px 0 6px -4px #00000041;}
.tab_wrap .inner_wrap a:last-child {box-shadow:6px 0px 6px -6px #000000dd;}

.tab_wrap.fix {position:fixed;width:100vw;left:0;top:0;height:112px;transform:translateY(0);z-index:10;background:#1562ff;transition:all .1s;}
.tab_wrap .inner_wrap a:first-child {box-shadow:-6px 0px 6px -6px #8282826b;}
.tab_wrap.fix .inner_wrap a:last-child {box-shadow:6px 0px 6px -6px #8282826b;}
/* tab_wrap */

.title {text-align:center;font-size:60px;font-weight:600;letter-spacing:-2px;}
.title .accent {color:#1d4796;}
section {padding-top:95px;padding-bottom:110px;}

/*main_wrap 메인비주얼 */
.main_wrap {padding:0;}

/*section01*/
/*section01 slide*/
.section01 {padding-top:calc(164px - 57px);}
.section01 .title .accent {font-size:50px;}
.section01 .small_notice {display:block;margin:28px 0 36px;text-align:center;font-size:22px;color:#666;}

.section01.scroll {padding-top:180px;}/* transition:padding .9s; */
.slide_items .img_w {position:relative;width:331px;height:331px;}
.slide_items .img_w img {max-width:inherit;}
.slide_items .car_name {text-align:center;margin-top:30px;font-size:35px;}
.slide_items .car_name span {display:inline-block;width:38px;height:38px;line-height:35px;margin-right:20px;background:#222;color:#fff;border-radius:50%;font-size:30px;}
.slide_wrap .slick-dots {}
.slide_wrap .slick-dots {text-align:center;margin-top:60px;}

/* .slide_wrap .slick-dots li {display:inline-block;font-size:0;} */
.slide_wrap .slick-dots li{display:inline-block;font-size:0;width:50px;height:4px;background:#000;vertical-align:middle;}
.slide_wrap .slick-dots li button {display:inline-block;font-size:0;width:60px;height:10px;background-color:transparent;}
.slide_wrap .slick-dots li.slick-active{width:60px;height:10px;border-radius:10px; background:#1d4796;}
.slide_wrap .slick-dots li.slick-active button {width:60px;height:10px;border-radius:10px; background:#1d4796;}
.slide_wrap .slick-dots li.slick-active button + button {height:0;visibility:hidden;opacity:0;}


/*section02*/
.section02 {background:#ecf7ff;}
.section02 .sub_title {display:block;margin:36px 0 50px;text-align:center;font-size:32px;color:#000;letter-spacing:-2px;}
.benefit_wrap {flex-wrap:wrap;justify-content:space-between;}
.benefit_box {width:calc(50% - 6px);margin-bottom:10px;padding:60px 0 60px 55px; background:#fff;border-radius:15px;justify-content:flex-start;align-items:center;box-shadow:0 0 15px -6px #6a6a6a47;}
.benefit_box .txt_g  {margin-left:30px;font-size:22px;}
.benefit_box .txt_g strong {display:block;color:#dc0029;font-size:28px;margin-bottom:20px;line-height:1.2;}
.benefit_box .txt_g p {color:#969696;line-height:1.3;}
/*section02*/

/*section03*/
.section03 {background:#1d4796;color:#fff;}
.section03 .title {color:#fff;}
.form_wrap .input_wrap {margin-top:40px;flex-wrap:wrap;justify-content:space-between;}
.form_wrap .input_wrap > div {width:calc(50% - 5px);margin-bottom:10px;}
.form_wrap .input_wrap > .flex100 > p {padding:10px;}
.form_wrap input[type="text"],
.form_wrap select {font-size:18px;width:100%;border-radius:10px;}
.form_wrap .phone_num {display:flex;align-items:center;justify-content:space-between;}
.form_wrap .phone_num input {width:30%;}
.form_wrap .phone_num select {width:30%;}
.terms_list {border-radius:10px;background:#fff;color:#222;}
.form_wrap input[type="text"]:focus,
.form_wrap select:focus {
  outline: 2px solid #1d479661;
  /* box-shadow: 0px 0px 4px 2px #ffffff; */
  box-shadow: 0 0 2px #649afd, 0 0 10px #98deffb7, 0 0 5px #c2ecff9b, 0 0 10px #ffffff5d
}



.terms_header {position:relative;height:67px;padding:25px 25px 25px 70px;display:flex;} 
.terms_header h4 {display:flex;width:100%;cursor:pointer;}
.terms_header strong {display:block;}
.terms_content {display:none;}
.terms_content {padding:25px 25px 25px 70px;border-top:1px solid #e5e5e4;}
.terms_content .small_list {}
.terms_content .small_list li + li {margin-top:5px;}
.terms_list + .terms_list {margin-top:10px;}
.terms_list .plus,
.terms_list .minus {position:absolute;width:17px;height:17px;background-image:url('../images2/promotion/lrc_icon_more.png');background-repeat: no-repeat;
background-size:100%;-webkit-background-size: 17px 34px;top: 50%;right:30px;transform:translateY(-50%);z-index:1;}
.terms_list .plus {background-position:0 1px;}
.terms_list .minus {background-position:0 -17px;}

.terms_content li {}
.terms_content li strong {display:block;margin-bottom:10px;color:#222;}
.terms_content li strong:before {content:"";display:inline-block;width:3px;height:3px;background:#222;border-radius:50%;vertical-align:middle;margin-right:7px;margin-left:-10px;margin-top:-2px;}
.terms_content li {color:#666;}
.terms_content li + li {margin-top:30px;}

.checkbox {position: absolute;top:50%;left:38px;transform: translateY(-50%);}
/* .checkbox input[type=checkbox] {position:absolute;left:0;} */
.checkbox input[type=checkbox] + label:before,
.checkbox input[type=checkbox] + label:after {content:"";display:block;
position:absolute;top:-3px;left:-3px;cursor:pointer;}

.checkbox input[type=checkbox] + label:before {width:25px;height:25px;background-image: url('../img/spr-common.png');background-repeat:no-repeat;background-position: -1309px -860px;-webkit-background-size: 1347px 1290px;background-size: 1347px 1290px;text-indent:1000%;white-space:nowrap;overflow:hidden;}
input[type=checkbox]:checked + label:after {
width: 25px;height: 25px;background-image: url('../img/spr-common.png');background-repeat:no-repeat;background-position: -1309px -833px;-webkit-background-size: 1347px 1290px;background-size: 1347px 1290px;text-indent: 1000%;white-space: nowrap;overflow: hidden;}



.radio_wrap {display:flex;align-items:center;height:45px;color:#fff;justify-content:space-between;font-size:18px;}
.radio_wrap > span {display:inline-block;padding-left:2%;}
.radio_wrap label {display:inline-block;cursor: pointer;position: relative;padding-left:30px;margin-right:6%;font-size:18px;vertical-align:middle;}
.radio_wrap input[type=radio] {display:none;}
.radio_wrap label:before {content:"";display:inline-block;color:white;width:20px;height:20px;position:absolute;left:0;top:0;border-radius:50%;border:1px solid #fff;}
.radio_wrap input[type=radio]:checked + label:after {content: "";color:#fff;text-align: center;line-height:4px;width:14px;height:14px;background:#fff;z-index:1;position:absolute;top:4px;left:4px;border-radius:50%;}



.btn_box .btn {background:#f33a3a;text-align:center;width:100%;padding:33px 0;margin-top:10px;border-radius:10px;position: relative;display: flex;align-items:center;flex-direction:column;justify-content:center;color:#fff;font-size:30px;}
.btn_box .btn > span {font-size:12px;line-height:1.5;letter-spacing:0;}
/* .btn_box .btn:after {content:">";display:inline-block;font-size:20px;position:absolute;right:80px;} */
.btn_verify {display:flex;align-items:center;justify-content:center;width:35%;margin-left:10px;font-size:18px;background:#f58025;border-radius:10px;line-height:66px;}
.btn.btn_verify.complete {background:#999999;}

/*section03*/

/* fixed_btn_box */
.fixed_btn_box {}
.fixed_btn_box {display:flex;display:none;width:100%;position:fixed;bottom:0;left:0;right:0;z-index:10;}
.fixed_btn_box button {width:100%;height:100px;margin:0 auto;background:#f33a3a;color:#fff;font-size:30px;font-weight:600;letter-spacing:-.5px;}
.fixed_btn_box button:after {content:"";display:inline-block;width:16px;height:23px;background-image:url('../images2/promotion/long_rental_counse_icon02.png');vertical-align:middle;margin-left:23px;}
/* footer */
.footer {padding:35px 0;color:#cdcdcd;background:#000;text-align:center;font-size:15px;}
.footer .copyright {color:#a0a0a0;margin-top:28px;}
/* footer */

.modal-pop.modal-comp {width: 673px;height: 604px!important;margin-top: -302px!important;margin-left: -336px;}
.modal-pop {display: none;position: fixed;left: 50%;top: 50%;margin-left: -400px;width: 800px;z-index: 9001;background: #fff;}
.modal-pop .modal-box {position: relative;padding: 40px 50px;}
.modal-pop.modal-comp .modal-header {border: 0;}
.modal-pop .modal-header {margin-bottom: 30px;border-bottom: 1px solid;}
.modal-pop .modal-close {position: absolute;right: 50px;top: 40px;width: 41px;height: 41px;background-image: url(/resources/img/spr-common.png);background-repeat: no-repeat;background-position: -84px -1205px;-webkit-background-size: 1347px 1290px;background-size: 1347px 1290px;text-indent: 1000%;white-space: nowrap;overflow: hidden;}
.modal-pop.modal-comp article {text-align: center;}
.modal-pop .btn_box {margin: 22px 0;text-align: center;}
.modal-pop.modal-comp .btn {margin: 0 auto;margin-top: 30px;background-color: #000;border: 1px solid #000;padding: 10px;width: 150px;font-size: 24px;}
.modal-pop.modal-comp .btn_go {float:right;font-size:15px;margin-top:20px;}
.dimd {display: none;position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 9000;background: #000;opacity: .7;}
.modal-pop.modal-comp .btn_go:after {
  content:"";
  display:inline-block;
  transform:rotate(45deg);
  width:0px;
  height:0px;
  border-bottom:0;
  border-left:8px solid transparent;
  border-right:0px solid transparent;
  border-top:8px solid #222;
}

@media screen and (max-width:768px) and (min-width:320px) {
  .pc_v {display:none;}
  .mobile_v {display:block;}
  .wrap {min-width:360px;}
  .inner_wrap {max-width:768px;min-width:360px;width:100%;padding:0 12px;}
  .fixed_btn_box button {height:50px; font-size:15px;}
  .fixed_btn_box button:after {width:8px;height:12px;background-size:cover;}

  input[type="text"], input[type="number"], select {height:44px;padding:10px 15px;}
  .form_wrap .input_wrap > div {width:100%;margin-bottom:10px;}
  .form_wrap input[type="text"],
  .form_wrap select {font-size:14px;}
   
  .title {font-size:26px;}

  .main_wrap {position: relative;width:100%;height:auto; object-fit:cover;background-image:none;/*url('./img/main_visual_m.png')*/background-position: center center;background-repeat: no-repeat;}
  .main_wrap .mobile_v {width:100%;}
  .main_wrap .header {padding-left:40px;height:auto;}
  .main_wrap .header h1 a {vertical-align:super;}
  .main_wrap .header img {max-width:60px;}
  .main_wrap .header span {font-size:11px;}
  .main_wrap .header span:before {width:1px;height:10px;margin:0 10px 0 8px;vertical-align: middle;}

  .tab_wrap .inner_wrap {height:85px;width:100%;}
  .tab_wrap .inner_wrap a {font-size:12px;}
  .tab_wrap.fix {height:85px;}

  section {padding-top:35px;padding-bottom:33px;}
  .section01 {padding-top:calc(41px - 40px);padding-bottom:33px;}
  .section01 .title .accent {font-size:21px;}
  .section01 .small_notice {margin:10px 0 20px;font-size:11px;}

  .slide_wrap {padding:0 12px;}
  .slide_items .img_w {position:relative;width:140px;height:140px;margin:0 auto;}
  .slide_items .img_w img {max-width:inherit;width:100%;}
  .slide_items .car_name {text-align:center;margin-top:15px;font-size:16px;}
  .slide_items .car_name span {width:18px;height:18px;line-height:18px;margin-right:4px;font-size:12px;}
  .slide_wrap .slick-dots {}
  .slide_wrap .slick-dots li{font-size:0;width:18px;height:2px;}
  .slide_wrap .slick-dots li button {width:18px;height:2px;opacity:0;}
  .slide_wrap .slick-dots li.slick-active{width:30px;height:5px;}
  .slide_wrap .slick-dots li.slick-active button {width:30px;height:5px;}

  .section02 .sub_title {margin:14px 0 25px;font-size:13px;letter-spacing:-1.3px}

  .section03 .title {font-size:22px;}

  .benefit_box {width:100%;margin:5px 0;padding:20px 25px;}
  .benefit_box > img {width:71px;}
  .benefit_box > img {width:22%;}
  .benefit_box .txt_g  {margin-left:10px;font-size:12px;}
  .benefit_box .txt_g strong {display:block;color:#dc0029;font-size:15px;margin-bottom:5px;line-height:1.2;}
  .benefit_box .txt_g p {color:#969696;line-height:1.3;}

  .terms_header {position:relative;height:44px;padding:14px 14px 14px 50px;display:flex;} 
  .terms_header h4 {display:flex;width:100%;cursor:pointer;}
  .terms_header strong {display:block;}
  .terms_content {padding:12px 12px 20px 35px;}
  .terms_content li {font-size:13px;}
  .terms_content li strong {font-size:14px;}
  .terms_list .plus, .terms_list .minus {right:15px;}
  .checkbox {left:24px;top:58%;}
  .checkbox input[type=checkbox] {opacity:0;}
  .checkbox input[type=checkbox] + label:before,
  .checkbox input[type=checkbox]:checked + label:after {top:-4px;}
  .checkbox input[type=checkbox] + label:before {width:22px;height:22px;background-position:-1098px -715px;-webkit-background-size:1130px 1073px;background-size:1130px 1073px;}
  .checkbox input[type=checkbox]:checked + label:after {width: 22px;height: 22px;background-position:-1098px -693px;-webkit-background-size:1130px 1073px;background-size:1130px 1073px;}


  .radio_wrap > span {font-size:14px;}
  .radio_wrap label {padding-left:30px;margin-right:3%;font-size:14px;}
  .radio_wrap label:before {transform:translateY(-10%);}
  .radio_wrap input[type=radio]:checked + label:after {transform:translateY(-15%);}
  .form_wrap .input_wrap > .flex100 > p {line-height:1.3;padding:0;font-size:13px;}
  
  .btn_verify {font-size:14px;line-height: 44px;}
  .btn_box .btn {font-size:16px;padding:15px 0;font-weight:600;}
  .btn_box .btn span {font-weight:200;}

  .footer {padding:20px 12px;font-size:12px;word-break:keep-all;line-height:1.5;}
  .footer p {line-height:1.3;}
  .footer .copyright {margin-top:7px;font-size:9px;}

  .modal-pop.modal-comp {width: 80%;height: 50vh !important;left: 0;right: 0;margin: 0 auto;top: 50%;transform:translateY(35%);}
  .modal-pop.modal-comp h3 {width:25%;position:absolute;left:20px;top:15px;}
  .modal-pop .modal-close{width:20px;height:20px;right:30px;top:20px;background-position:-42px -602px;-webkit-background-size:673px 645px;background-size:673px 645px;}
  .modal-pop.modal-comp .btn {width: 100px;font-size: 15px;margin-top: 0;}
  .modal-pop.modal-comp .btn_go {font-size: 13px;position: absolute;}

}

