/*리셋*/
body{
    font-size:20px;
    font-size:1.33333vw;
    font-family: 'Raleway', sans-serif;
    font-weight:200;
    letter-spacing:0.01em;
    letter-spacing:0em;
}
html, head, body, header, nav, div, a, span, gnb, button, img, section, h1, h2, h3, h4, p, strong, i, object, input, address {box-sizing:border-box; margin:0; padding:0; color:inherit; text-decoration:none;}
ul, li{ margin:0; padding:0; box-sizing:border-box;}

.claerfix:after{
    display:block; font-size:0; content:''; clear:both; height:0; 
    visibility:hidden;
}

/*헤더영역*/
header{
    background-color:#fbe275;
    position:relative;
    padding-bottom:17.6vh;
}
header .nav_wrap{
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#fbe275;
    width:100%;
    padding-left:4vw;
    height:15vh;
}
header a.logo{
}
header a.logo h1{
    width:10vw;
}
header nav.main_nav{
    display:flex;
    flex-wrap:wrap;
}
header nav.main_nav div.nav_item{
}
header nav.main_nav div.nav_item a{
    font-size: 1vw;
    display:block;
    margin: 0 3vw;
	letter-spacing: 0.8px;
}
header nav.main_nav div.nav_item:last-child a{
    margin-left:0;
}
header .header_until{
    position:absolute;
    top:0;
    right:0;
}
header .header_until a.play-btn{
    display: block;
    padding:2.5em 4vw;
}
header .header_until a object{
    width:3.5vw;
}
header a.header_language_btn span{
    font-size: 0;
}
header .header_content{
    position: relative;
}
header .header_content .header_main_visual{
    font-size:15vw;
    text-align:center;
    font-weight:900;
    padding-top:3vh;
    letter-spacing: 10px;
}
header .header_main_opentime{
    display:flex;
    justify-content: center;
    padding-bottom:20.5vh;
    position:relative;
}
.clock_position{
    text-align: center;
    position:absolute;
    bottom:5em;
}
.open_time_wrap{
    position:absolute;
    bottom:2em;
    display:flex;
    height:2em;
}
header .header_main_opentime object{
    width:2em;
    display:block;
}
header .header_main_opentime p{
    font-size:1.5em;
    align-content: center;
    margin-left:0.5em;
    font-weight:00;
    align-self: center;
}
/*헤더영역 끝*/
/*메인버튼영역*/
div.main_button_wrap{
    position: absolute;
    left:0;
    width:100%;
}
div.main_button_wrap a, div.main_button_wrap span{
    display:block;
    position:absolute;
    line-height:6.5vh;
    width:20vw;
    text-align:center;
    font-weight:600;
}
div.main_button_wrap div a{
    display: block;
    height:6.5vh;
    z-index:10;
}
div.main_button_wrap div.top_button a{
    left:42%;
    bottom:0;
}
div.main_button_wrap div.bottom_button a{
    left:37.9%;
    top:0;
    z-index:10;
}
div.main_button_wrap div.top_button a span{
    background-color:#221e20;
    color: #fbe275;
    width:100%;
    background-image: linear-gradient(to left,transparent,transparent 50%,#cca69a 50%,#cca69a);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}
div.main_button_wrap div.top_button a span:hover{
    background-position: 0 0;
    color:#221e20;
}
div.main_button_wrap div.bottom_button a span{
    background-color:#fbe275; 
    color: #221e20;
    background-image: linear-gradient(to left,transparent,transparent 50%,#221e20 50%,#221e20);
    background-position: 100% 0;
    background-size: 200% 100%;
    transition: all .25s ease-in;
}
div.main_button_wrap div.bottom_button a span:hover{
    background-position: 0 0;
    color:#fbe275;
}
/*메인버튼영역끝*/
/*콘텐츠 시작*/
.main_wrap{
    position:relative;
/*    overflow:hidden;*/
}
.spilit_artpieces{
    position:absolute;
    left:4vw; 
    width:40vw;
    height:100vh;
    z-index:1;
}
.spilit_artpieces.fix{
    position:fixed;
    top:0;
}
.spilit_artpieces.bottom{
    position:absolute;
    bottom:0;
}
.spilit_artpieces .image_wrap{
    position: absolute;
    left: 0;
    width: 100%;
    height:100%;
}
.spilit_artpieces .image_wrap > div{
    position:absolute;
    width:100%;
    height:50%;
    overflow:hidden;
}
.spilit_artpieces .image_wrap .image_top{

}
.spilit_artpieces .image_wrap .image_bottom{
    bottom: 0;
}
.spilit_artpieces .image_wrap .image{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    height:100%;
}
.spilit_artpieces .image_top div.image{
    background-position: top center;
    transition:height .5s ease;
}
.spilit_artpieces .image_bottom div.image{
    background-position: bottom center;
    transition:height 3s ease;
}
.spilit_artpieces .image_top div:hover{
    background-position: 0 0;
}
.spilit_artpieces .image_top div{
    background:url(../images/OS-2004-39-Svensson-2008-500x0-c-default.jpg);
    background-size:cover;
}
.spilit_artpieces .image_bottom div{
    background:url(../images/Gogh-Roulin-Boston-MFA_2-500x0-c-default.jpg);
    background-size:cover;
}
.spilit_artpieces .image_top div.new{
    background:url(../images/mf-2006-78_1-700x0-c-default.jpg);
    background-size:cover;
}
.spilit_artpieces .image_bottom div.new{
    background:url(../images/Layer-5-700x0-c-default.jpg);
    background-size:cover;
}
.spilit_artpieces .image_top div.instagram{
    background:url(../images/FransHals_Mashups_1-1-700x0-c-default.jpg);
    background-size:cover;
}
.spilit_artpieces .image_bottom div.instagram{
    background:url(../images/FransHals_Mashups2-1-700x0-c-default.jpg);
    background-size:cover;
}
/* 내부슬라이더 */

/* 플리키슬라이더 넥스트버튼 */
.flickity-button , .flickity-page-dots .dot{display:none;}
.main-carousel .flickity-slider {width:100%; position:relative;}
.flickity-viewport:first-child{
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab;
    margin-left: -30em;
}
.carousel-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.flickity-enabled {
    position: relative;
    margin-left: -17em;
}
.flickity-viewport:first-child{
    margin-left:-5em;
}
.main_section{
    margin-left:7.882291vw;
    padding: 8vw 0 0 40vw;
    overflow:hidden
}
.section_header h2{
    margin-bottom:1.5vh;
    font-size:7.33333vw;
    line-height:1;
    white-space:nowrap;   /* 글자가 넘치도록 만드는 css */
}
.main-carousel{
    overflow:hidden;

}
/* 제목효과 */
.active_line{
    position: relative;
}
span:hover .active_line:after {
    width: 0%;
}
span:hover .active_line:before {
    width: 0%;
}
.active_line:after{
    content: '';
    position: absolute;
    left: 0; bottom: -3px;
    height: 2px;
    background-color: #000;
    width: 50%;
    transition: width .4s;
}
.active_line:before {
    content: '';
    position: absolute;
    right: 0; bottom: -3px;
    height: 2px;
    background-color: #000;
    width: 50%;
    transition: width .4s;
}
.section_card_wrap{
    margin-top:9.3vh;
    padding-bottom:10vh;
}
section.instagram .section_card_wrap{
}
.card_wrapper{
/*    margin-left:-6.785076vw;*/
    width:19.180241vw;
}
.card_wrapper:first-child{
    margin-left:0;
}
.card_info_wrap{
    font-size:1.5vw;
    text-align: center;
}
.card_title{
    font-size: 1.86667vw;
    font-family: 'Raleway', sans-serif;
    text-align:center;
    margin-bottom: .6em;
}
i{margin-right: 0.5em; vertical-align:bottom;}
/* 공통부분 css 끝 */

/* 전시회 정보 섹션 */
.section_exhibition{ 
    background-color: #cca69a;
    display: flex;
}
.exhibition .section_card_wrap .card_wrapper .card_event,.instagram .card_wrapper > div:first-child{
    position:relative;
    width:19.180241vw;
    height: 19vw;
}
.exhibition .section_card_wrap .card_wrapper .card_event a{   
    display:block; 
    width:100%;
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    transition:all 1s;
}
.card_event a:before, .instagram_card_image:before{
    content:'';
    display:block;
    position:absolute;
    width:100%;
    height:100%;
    box-sizing:border-box;
    border:20px solid rgb(252,227,115);
    opacity:0;
    transition:1s;
}
.exhibition .section_card_wrap .card_wrapper .card_event a:hover:before,
.instagram .card_wrapper .instagram_card_image:hover:before
{
    opacity:1;
}
.card_wrapper .card_event a:hover .event_card_date{
    padding:0.5em 0;
}
.exhibition .section_card_wrap .card_wrapper a strong.event_card_date{
    position:absolute;
    bottom:1.3em;
    margin:0 2.5em;
/*    width:100%;*/
    font-size:1.06667vw;
    font-weight:400;
    text-align:center;
    color:#fff;
    text-shadow:1px 1px 2px #555;
    transition:0.7s;
}
.exhibition .section_card_wrap .card_wrapper span.add_trip_button{
    display:block;
    position:absolute;
    bottom:-10%;
    right:1.1vw;
    border-radius:50%;
    width:3.5vw;
    height:3.5vw;
    background-image:url(../images/icon/trip_icon.png);
    background-size:50%;
    background-repeat:no-repeat;
    background-position: 54% 49%;
    background-color:rgb(252,227,115);
}
.exhibition .section_card_wrap .card_wrapper a.img01{
    background-image:url(../images/fenomeen1-2-700x0-c-default.jpg);
}
.exhibition .section_card_wrap .card_wrapper a.img02{
    background-image:url(../images/KB_Stella-Bergsma-Amsterdam-2015_A4-e1526459291626-500x0-c-default.jpg);
}
.exhibition .section_card_wrap .card_wrapper a.img03{
    background-image:url(../images/OS-2004-39-Svensson-2008-500x0-c-default.jpg);
}
.exhibition .section_card_wrap .card_wrapper a.img04{
    background-image:url(../images/Art-Taminiau-bovenkamer-500x0-c-default.jpg);
}
.exhibition .section_card_wrap .card_wrapper a.img05{
    background-image:url(../images/7_Hof_Connection-500x0-c-default.jpg);
}
.exhibition .section_card_wrap .card_wrapper a.img06{
    background-image:url(../images/OS-2004-39-Svensson-2008-500x0-c-default.jpg);
}
.exhibition .card_info_wrap{
    font-weight: 200;
    margin-top:2em;
    line-height: 1.2em;
    letter-spacing: 0em;
}
.exhibition .card_info_wrap .card_title{
    font-family:'Raleway', sans-serif;
    font-size:1.5vw;
    font-weight:600;
    line-height:1em;
    letter-spacing:0.01em;
}
.exhibition .card_info_wrap .card_except{
    margin-top:1em;
	font-size:0.7em;
}
.exhibition .card_info_wrap p:last-child{
    padding-top:1.8em;
    font-size: 0.8vw;
    font-weight:600;
    letter-spacing: 0.06em;
}
.exhibition .card_info_wrap p strong{
    font-weight:bold;
    font-size:1.08vw;
    letter-spacing: 0;
}
/* NEW 섹션 시작 */

/* 왼쪽 콘텐츠 영역 */
.section_new{
    text-align:center;
    background-color:#99d08c;
    box-sizing: border-box;
}
.section_new .new .section_card_wrap{
    display:flex;
    justify-content: center;
    position:relative;
}
.section_new .new .section_card_wrap .card_wrapper:first-child:after{
    content:"";
    height:80%;
    border:1px solid #000;
    position:absolute;
    top:-0.5em;
    left:50%;
}
.section_new .new .section_card_wrap .card_wrapper:first-child:before{
    content:"";
    height:80%;
    border:1px solid #000;
    position:absolute;
    top:-0.5em;
    left:50%;
}

.section_new .new .section_card_wrap .card_wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 5%;
}
div.section_new .section_card_wrap .card_wrapper .news_card{
    width:12vw;
    height:15vw;
    display:inline-block;
    font-size:0;
    position:relative;
}
div.section_new .section_card_wrap .card_wrapper a{
    display: inline-block;
    position:relative;
    width:100%;
    vertical-align:bottom;
}
div.section_new .section_card_wrap .card_wrapper a:after{
    content:'';
    display:block;
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    border: 20px solid rgb(252,227,115);
    box-sizing:border-box;
    opacity: 1;
    transition: all 0.5s;
}
div.section_new .section_card_wrap .card_wrapper:first-child a{
    background:url(../images/Frans-Hals-Malle-Babbe-1920x-e1530786373198-300x0-c-default.jpg);
    height:15vw;
    background-size: cover;
    background-repeat: no-repeat;
}
div.section_new .section_card_wrap .card_wrapper:last-child a{
    background:url(../images/mav-2007-20-1920x-300x0-c-default.jpg);
    height:8.5vw;
    background-size: cover;
    background-repeat: no-repeat;
    position:absolute;
    left:0;
    bottom:0;
} 
div.section_new .section_card_wrap .card_wrapper a:hover:after{
    opacity:0;
    transform:scale(200%);
}

div.section_new .section_card_wrap .card_wrapper .card_info_wrap{
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

/* NEW 섹션 끝 */

/* INSTAGRAM 섹션 시작 */
.section_instagram{
    background-color:#f27349;
}
.instagram .card_wrapper{

}
.instagram .card_wrapper .instagram_card_image{
    height:35vh;
}
.instagram .card_wrapper .instagram_card_image{
    background-position: center center;
    background-size:cover;
    position:relative;
}
.instagram .card_wrapper .card_info_wrap{
    margin-top:2vh;
}
.instagram_card_likes{
    line-height:1;

}
.instagram_card_likes i{
    font-size:1.3rem;
    vertical-align:top;   
    margin-top:0.35rem;    
}
.card_excerpt{
    margin-top:1.5vh;
    line-height:1.4;
}
.card_excerpt strong{
    font-size:1.8rem;
    
}
.instagram .card_wrapper .img01{
    background-image:url(../images/1527332829-500x0-c-default.jpg);
}
.instagram .card_wrapper .img02{
    background-image:url(../images/20180302-DeJong_AfterTheWar_2018-e1529485528363-500x0-c-default.jpg);
}
.instagram .card_wrapper .img03{
    background-image:url(../images/1528899508-500x0-c-default.jpg);
}
.instagram .card_wrapper .img04{
    background-image:url(../images/1527776977-500x0-c-default.jpg);
}
.instagram .card_wrapper .img05{
    background-image:url(../images/1530109935-500x0-c-default.jpg);
}
.instagram .card_wrapper .img06{
    background-image:url(../images/Art-Taminiau-bovenkamer-500x0-c-default.jpg);
}
.instagram .card_wrapper .img07{
    background-image:url(../images/1529495210-500x0-c-default.jpg);
}
/* INSTAGRAM 섹션 끝 */
/* 푸터영역 */

footer{
    display:flex;
    flex-wrap: wrap;
    background-color:rgb(252, 227, 115);
    padding-left:4vw;
    padding:0 0 3.4vw 4vw;
}
footer section{
    text-align:center;
    margin-top:8vw;
}
footer section h3{
    font-size:1.3vw;
    font-weight:200;
    letter-spacing:-0.03em;
    padding-bottom:1.6vw;
	width:100%;
}
footer section.newsletter{
    width:50%;
}
footer form .news_name, footer form .news{
    line-height:2em;
    border:none;
    border-bottom:2px solid #000;
    box-sizing:border-box;
    background-color:inherit;
    font-family: 'Raleway', sans-serif;
}
footer form .news_name, footer form input.submit_btn{
    border:2px solid #231f20;
    padding:0.8em 3.5em 0.8em 3.5em;
    background:transparent;
    font-size:1vw;
    margin-top:2.6vw;
    border-radius:30px;
}
footer section.locations{
    width:50%;
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;
}
footer section.locations div{
    width:50%;
    padding:0 2vw;
    box-sizing:border-box;
}
footer .locations strong{
    display:block;
    padding-top:2vh;
}
footer .locations address{
    font-style:normal;
    padding:0.5vh 0 2vh 0;
}
footer .locations a{
    height:1.3em;
    border-bottom:2px solid #000;
    display: inline-block;
}
footer .locations .hof img{
    width:6.8vw;
    height:3.5vw;	
}
footer .locations .hal img{
    height:3.5vw;	
}


/* footer SOCIALS */
.social{
	display:flex;
    width:25%;
    justify-content:center;
}
.social a{
    margin:0 .5em;
    display: block;
}
.social a img{
    height:1.5rem;	
}
.footer_nav{
    width:50%;
    font-size:0;
}
.footer_nav a{
    font-size:1rem;
    margin:0 1em;
    font-weight:600;
    position: relative;
    display: inline-block;
    padding: 3px 0;
}
.underline{
    position: relative;
}
a:hover .underline:after {
    width: 50%;
}
a:hover .underline:before {
    width: 50%;
}
.underline:after{
    content: '';
    position: absolute;
    left: 0; bottom: -3px;
    height: 3px;
    background-color: #000;
    width: 0;
    transition: width .4s;
}
.underline:before {
    content: '';
    position: absolute;
    right: 0; bottom: -3px;
    height: 3px;
    background-color: #000;
    width: 0;
    transition: width .4s;
}




.footer_logos{
    width:25%;
    font-size:0;
}
.footer_logos img.hal_logo{
    width:4.1rem;
}
.footer_logos img{
    width:7rem;
    margin: 0 0.5rem;    
}

/*퀵메뉴 시작*/
gnb{
    position:fixed;
    top:0;
    left:0;
    width: 4vw;
    width:4.046242774566474%;
    height:100vh;
    background-color:#221e20;
    font-size:0;
}
gnb .quicklick_menu_wrap{
    position:absolute;
    top:50%;
    left:13px;
    transform: translateY(-50%);
    text-align: center;
}
gnb a{
    display:inline-block;
    font-size:1.5rem;
    margin:0.5em 0;
    color:#fbe275;
    transition:color .8s;
}
gnb a.exhibition{
    color:#cca69a;   
}
gnb a.new{
    color:#99d08c;
}
gnb a.instagram{
    color:#f27349;
}
gnb a.calerndar{
}
gnb a.ticket{
    transform:rotate(-35deg);
}
gnb button{
    display:none;
}


/*퀵메뉴 끝*/
