/* #f7f7f7 #2f2f2f */
/* reset CSS */
head,body,div,ul,li,a,span,p,img,strong,dt,dd,h1,h2,h3,h4,h5,h6,table,tbody,tr,td,input,i{margin:0; padding:0; font-size:14px;}
li{list-style:none;}
a{text-decoration:inherit; color:inherit;}
h1,h2,h3,h4,h5,h6{text-decoration:inherit; font-weight:inherit;}
/* reset CSS */
/* common */
body{font-family:'Malgun Gothic', '맑은 고딕', 'Noto Sans KR', 'Apple SD Gothic Neo', Dotum, '돋움', sans-serif; font-size: 14px; color: #444;}
.clearfix:after{content: ''; display: block; clear: both;}
.hide{position: absolute; overflow: hidden; width: 1px; height: 1px; clip: rect(0px,0px,0px,0px); color: #000}
div.wrap{min-width:1024px; overflow:hidden; margin:60px 0 0 200px; padding:0 50px; box-sizing:border-box;}
/* 접근성 준수를 위해 display: none 또는 visibility: hidden 사용 금지 */
button, input[type="submit"] {cursor: pointer;}
select::-ms-expand {display: none;}/* 화살표 없애기 for IE10, 11 */
/* common */
/* skip nav */
#skip a {position: fixed; top: -50px; left: 0; width: 100%; line-height: 50px; color: #fff; text-align: center; background-color: rgba(0, 0, 0, 0.7); transition: all 0.3s; z-index: 9999}
#skip a:focus {top: 0;}
/* skip nav */
/* HEADER nav */
div.header{position:fixed; top:0; left:0; width:100%; vertical-align:middle; background-color:#2f2f2f; color:#eee;}
.header div.today{float:left; }
.header ul.info{line-height:60px; float:right; margin-right:100px;}
.header ul.info li{float:left;}
.header ul.info li + li{margin-left:30px;}
.header ul.info li i{margin-right:3px; font-size:20px; vertical-align:middle;}
.header ul.info li span.alert{display:inline-block; position:relative; top:-13px; right:3px; font-size:10px; font-weight:bold; width:15px; height:15px; line-height:15px; border-radius:100%; text-align:center; background-color:#fd3535; color:#ffffff;}
.header ul.info li.user{}
.header ul.info li.user a{}
.header ul.info li.user p{display:inline-block; width:40px; height:40px; border-radius:100%; line-height:60px; vertical-align:middle; margin-right:5px;background:url(../img/mh_img02.png) no-repeat 0px -2px; background-size:cover; text-indent:-99999px; }
/*.header ul.info li.user{padding-left:100px; background:url(../img/mh_img02.png) no-repeat; background-size:60px; border-radius:  }*/
/* HEADER nav */

/* GNB MENU */
div.gnb{position:fixed; top:0; width:200px; height:100%; padding:100px 0 0 20px; background:#2f2f2f; color:#eee; box-sizing:border-box;}
.gnb h1{position:absolute; top:0; left:0; width:200px; height:60px; left:0; line-height:60px; text-align:center; background-color:#ffffff; box-sizing:border-box;}
.gnb h1 img{width:60px; vertical-align:middle; margin-left:-10px;}
.gnb ul li{line-height:30px;}
.gnb ul li i{margin-right:5px;}
.gnb ul li a{}

.gnb ul li>ul>li{line-height:30px; margin-left:30px;}
.gnb ul li>ul>li>a{line-height:0px;}
.gnb ul li>ul>li:hover a{color:dodgerblue;}
/* GNB MENU */






































