@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Heebo|Roboto');


/*============= reset =============*/
html {
	/*font-size:100.00%;*/
}
body {
	font-size:19px;
	font-weight:normal;
	font-family:'Heebo', "애플고딕", "AppleGothic", "돋움", "dotum", "Arial", "Verdana", sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a, li, span, b, i {
	font-size:1em;
	font-weight:normal;
}
html, body, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, address, caption, div, p,  a, span, img, i{
	margin:0;
	padding:0;
}
ul, ol, li {
	list-style:none;
}
a{
	text-decoration: none;
	color:#222;
}
img {
	border:0;
}
.clearfix:after{
    clear:both;
    content:'';
    display:block;
    height:0;
/*    visibility: hidden;*/
}

/*=============reset end=============*/

/* slick slide CSS */
button.slick-prev{
    left:0px;
    z-index:100;
}
button.slick-prev:before {
    z-index: 100;
    content: '';
    width:10px;
    height:10px;
    transform: rotate(-135deg);
    position: absolute;
    top:0;
    border-top:2px solid #000;
    border-right:2px solid #000;
    box-shadow: 1px -1px 0.5px  #fff;
}
.slick-next:before{
    content: '';
    width:10px;
    height:10px;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: -55%;
    border-top:2px solid #000;
    border-right:2px solid #000;
    box-shadow: 1px -1px 1px  #fff; 
}
section.stories .responsive .slick-next{
    
}
.slick-next {
     right: 0px; 
}
.slick-prev, .slick-next{   
}
/* ============= slickSlider end ============= */

.wrap{
    max-width: 1160px;
    width:94.555555%;
    margin:0 auto;
    padding:0 20px;
    box-sizing: border-box;
}
header{
    z-index:101;
}
header .nav{
    height:100%;
}
header .nav_menu{
    position:fixed;
    z-index: 101;
    font-size:0;  
    display:inline-block;
}
header .nav_menu h1{
	display:inline-block;
	background-image:url(../images/logo.svg);
	width:150px;
	height:50px;
}
header .nav_menu span.menu_button{
    display:inline-block;
    cursor:pointer;
    background-color:rgba(0, 0, 0, 0.7);
}
header .newsletter{
    display:inline-block;
    width:auto;
    background-color:rgba(0, 0, 0, 0.7);
    transition:all 0.8s;
}
header .newsletter.on{
    padding-right:50px;
    border-right:1px solid #ededed;
}
header .nav_menu .menu_button img{
	width:50px;
    padding:10px;
    box-sizing: border-box;
}
header .nav_menu .newsletter img{
    width:50px;
    padding:15px;
    box-sizing: border-box;
}
header nav{
    position:fixed;
    top:50px;
    left:-300px;
    transition:left 0.5s;
    width:300px;
    height:100%;
    border-right:1px solid #ececec;
    text-transform: uppercase;
    background-color:#fff;
    z-index: 101;
}
header nav.on{
    left:0;
}
header nav .menu .menu_info{
	padding: 17px 20px 13px 20px;
    overflow: hidden;
}
header nav .menu .menu_info strong a.login{
	float:left;
    font-size:0.8em;
}
header nav .menu .menu_info strong img{
	border: 1px solid #ECECEC;
    height:18px;
    width:auto;
    box-sizing: border-box;
    margin-right: 3px;
    padding:0;
    vertical-align: middle;
}
header nav .menu .menu_info strong a.lang{
	float:right;
    font-size:0.8em;
}
header nav .menu i{
    margin-right: 10px;
    vertical-align: -1px;
}
header nav .menu ul h3 > i{
    font-size: 22px;
    vertical-align: -1px;
}
header nav .menu  ul.menu_nav li{
	border-bottom:1px solid #ececec;
}
header nav .menu ul.menu_nav h3:after{
	background:url(../images/chevron-down.svg);
	width:24px;
	height:24px;
    content: attr(data-before);
    float: right;
}
header nav .menu ul.menu_nav h3.click:after{
	transform: rotate(180deg);
}
header nav .menu ul.menu_nav h3.nomore:after {
    display: none;
}
header nav .menu .menu_panel .extra_nav{
    clear:both;
    overflow:hidden;
    border-bottom:1px solid #ececec;
}
header nav .menu .menu_panel .extra_nav li{
    float:left;
    width:50%;
    box-sizing: border-box;
    padding: 15px 5px 15px 15px;
    border: solid 1px #ECECEC;
    border-bottom: 0;
    font-size:0.8em;
    font-weight:bold;
}
header nav .menu .menu_panel .extra_nav li i{
    font-size:1.4em;
}
header nav .menu .menu_panel .menu_nav h3{
    margin: 0;
    padding: 15px 15px 15px 15px;
    border-bottom: solid 1px #ECECEC;
    cursor: pointer;
}
header nav .menu .menu_panel .menu_nav ul{
    font-size:0;
}
header nav .menu .menu_panel .menu_nav ul li,header nav .menu .menu_panel .menu_nav ul li.up{
    height:0;
    display:none;
    border-bottom: solid 1px #ECECEC;
}
header nav .menu .menu_panel .menu_nav ul.open li{
    display:block;
    height:50px;
    line-height:50px;
    font-size:14px;
    box-sizing: border-box;
}
header nav .menu .menu_panel .menu_nav ul li.open{
    display:block;
    height:50px;
    line-height:50px;
    font-size:14px;
    box-sizing: border-box;
}
header nav .menu .menu_panel .menu_nav ul li.open a{
    margin-left:15px;
    display:inline;
    position:relative;
}
header nav .menu .menu_panel .menu_nav ul li a:before{
    content:' ';
    width:0;
    border-top:3px solid rgba(27, 166, 253, 0.4);
    box-shadow: 0px 0px 10px 0.5px rgba(27, 166, 253, 0.1);
    position:absolute;
    top:50%;
    margin-top:-3px;
    transition:width .5s;
}
header nav .menu .menu_panel .menu_nav ul li a:hover:before{
    width:100%;
}
header nav .menu .menu_panel .social{
/*    overflow:hidden;*/
    padding: 15px 15px 15px 15px;
    font-size: 24px;
    display:flex;
    align-items:center;
}
header nav .menu .menu_panel .social li{
    display:flex;
    margin:0 10px; 
}
header nav .menu .menu_panel .social li:last-child{
    font-size:14px;
    margin-top:0.3rem;
}
header nav .menu .menu_panel .social li a i{
    font-size:15px;
}
header nav .menu .menu_panel .social li a span{
    font-size:0; 
    visibility:hidden;
}
section.main_visual .slider a{
	position:relative;
	display: block;
	font-size: 0;
}
section.main_visual .slider img{
	width:100%;
	position: relative;
}
section.main_visual .slider .visual_text{
	position: absolute;
	bottom:10px;
	left:10px;
	color:#fff;
	font-size: 19px;
	font-weight:900;
	background-color: rgba(0, 0, 0, 0.8);
	padding:0 1%;
	text-align: center;
	line-height:44px;
    overflow:hidden;
}
section.shop{
    margin:0 auto;
    margin-top:4%;
}
section.shop h2, section.stories h2{
    font-size:1.5em;
    font-weight:900;
    margin-bottom:1rem;
}
section.shop ul{
    overflow:hidden;
}
/**/
section.shop ul li , .target{
	width:24.3816%;
	margin-left:0.824533%;
	box-sizing: border-box;
    float:left;
}
section.shop ul li:nth-child(1){
    margin:0;
}
section.smallshop ul li:nth-child(5){
    margin:0;
}
section.shop ul li img{
    width:100%;
	vertical-align: top;
}
section.shop ul li a{
    display: block;
}
section.shop ul li a.name{
	margin-top:0.2rem;
}
section.shop ul li a span{
	font-weight: 800;
	padding-left:0px;
	font-size:1.3rem;
	word-wrap:break-word;
}
section.shop ul li a:hover span{
    background-color:#000;
    color:#fff;
}
section.layout{
	margin:0 auto;
	margin-top:2em;
	box-sizing: border-box;
}
section.layout iframe, section.layout img{
    width:46.5625%;/*745/1600*/
}
section.layout .layout_text{
    float:right;
    width:52%;
	margin-left:1.4375%;
	/*855(1600-745)/1600*/
}
section.layout .layout_text h3{
    font-size:1.5em;
	font-weight:800;
	margin-top:0.6em;
}
section.layout .layout_text h4{
    font-size:1.2em;
}
section.layout .layout_text p{
    line-height:1.5em;
    margin:1em 0;
}
section.layout .layout_text a{
    background-color:#adc088;
    font-weight:bold;
	padding:5px;
    display:inline-block;
}
section.layout .layout_text a:hover{
    background-color:#000;
    color:#fff;
}
section.layout .layout2{
    margin-top:2em;
}
section.stories{
    margin-bottom: 7%;
    margin-top:5%;
    padding:0;
    width:100%;
    box-sizing: border-box;
}
section.stories ul{
    box-sizing: border-box;
    width:100%;
}
section.stories .story_wrap{
    width:100%;
}
section.stories ul li:first-child{
    margin:0;
}
section.stories ul li a{
    display: block;
}
section.stories ul li a img{
    width:100.0%;
}
section.stories ul li a h5{
    font-size:14px;
    font-weight:bold;
	padding:2% 0;
}
section.stories ul.responsive li a:hover h5{
    background-color:#000;
    color:#fff;
    box-sizing: border-box;
}
section.stories .slick-track li{
    width: 24.176896%;
}
section.stories .slick-track .slick-slide{
     margin: 0 0.824533% 0 0;
}
.close{
    display:none;
}
/*==================900px===========================*/
@media screen and (max-width:900px) {
    .wrap{
        padding:0;
    }
	header .nav_menu h1{
        background-image:url(../images/logo-mobile.svg);
        width:50px;
        height:50px;
    }
	header h1 img{
		visibility: hidden;
		height:0;
		display: none;
	}
	section .layout2 img{
		width:100%;
	}
	section .layout2 .layout_text{
		width:100%;
		margin-left:0;
	}
	section.shop ul li a.name{
		padding-left:5px;
	}
}
/*===========900px end===============*/

/*===========699px============*/
@media screen and (max-width:699px) {
    header .nav_menu{
        width:100%;
        background-color:rgba(0, 0, 0, 0.7);
    }
    header .nav_menu h1.logo{
        display:inline-block;
        background-image:url(../images/logo.svg);
        width:150px;
        height:50px;
    }
    .close{ /* 메뉴닫기버튼 */
        display:block;
        position:absolute;
        color:#eee;
        top:0; right:0;
        transform: translateY(-130%);
        width:30px; height:30px;
        z-index:100;
    }
    header nav{
        width:100%;
    }
    header nav{
        left:-100%;
    }
	.wrap{
		width:94.277539%;
		margin:0 auto;
	}
	section.main_visual{
		height:600px;
	}
	section.main_visual img{
		height:600px;
		overflow: hidden;
	}
	section.smallshop ul li{
		width:100%;
		margin:0;
	}
    section.smallshop ul li a{
		width:49%;
        box-sizing:border-box;
        display: inline-block;
        vertical-align: middle;
    }
	section.shop ul li a.name span{
		vertical-align: top;
		word-wrap: break-word;
		line-height: 40px;
	}
	section.smallshop ul li+li{
		margin-top:10px;
	}
	section.smallshop ul li:nth-child(5){
		margin-top:10px;
	}
	section.smallshop ul li img{
		vertical-align: top;
	}
	section.layout{
		position: relative;
	}
	section.layout .layout1{
		position:relative;
		height:100%;
	}
	section.layout .layout1 iframe{
		width:100%;
		min-height:100px;
		float:none;
		margin-top:1em;
	}
	section.layout .layout1 .layout_text{
		float:none;
		width:100%;
		margin:0;
	}
    section.stories .story_wrap{
        width:100%;
        box-sizing: border-box;
    }
    section.stories .story_wrap a{
        display:block;
    }
    section.stories .story_wrap h5{
        display:block;
    }
    section.stories .slick-track .slick-slide{
        width:100%;
    }
    /*slick slide CSS*/
    .stories button.slick-prev,.stories button.slick-next{
        z-index:1;
    }
    /*메인 슬릭슬라이더 버튼*/
    button.slick-prev:before {
        left:15px;
    }
    button.slick-next:before{
    }
    /*메인 슬릭슬라이더 버튼 끝*/
    /*.stories 슬릭슬라이더 버튼*/
    .stories button.slick-prev:before {
        top:0px;
        left:10px;
/*        background-color:red;*/
    }
    .stories .slick-next:before{
        top:0;
        left:-20px;
    }
    section.stories .slick-next {
        right: 0px;
    }

}

/*=========699px end============*/


 


