body{
    mamrgin:0; padding:0;
}
*{
mamrgin:0; padding:0;
}
li{list-style: none;}
a{text-decoration: none; color:#000;}

.wrap{
    max-width: 1160px;
    width:94.555555%;
    margin:0 auto;
    padding:0 20px;
    box-sizing: border-box;
}
section.stories ul{
    box-sizing: border-box;
    width:100%:/**/
}

section.stories .story_wrap{
    width:100%;
}
section.stories .story_wrap ul li{
/*    box-sizing: border-box;*/
            width: 24.3816%;

}
section.stories ul li:first-child{
    margin:0;
}
section.stories ul li a{
    display: block;
}
section.stories ul li a img{
    width:100.0%;
}
section.stories ul li a h5{
    font-size:14px;
    font-weight:bold;
	padding:2% 0;
}
section.stories ul.responsive li a:hover h5{
    background-color:#000;
    color:#fff;
    box-sizing: border-box;
}
section.stories  li{
    width: 24.176896%;
/*    width: 24.176896% !important;*/
/*    margin-left: 0.824533%;*/
/*    margin-left: 0.1%;*/
/*    margin: 0 10px 0 0;*/

}
section.stories .slick-track .slick-slide{
     margin: 0 0.824533% 0 0;
}

@media screen and (max-width:699px) {
    

}